@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Martel+Sans&display=swap');
$fontStrong: 'Kdam Thmor Pro', sans-serif;
$fontCommon: 'Martel Sans', sans-serif;

// цвета Джотаро
$jotaroScreenColor: #b859fc;
$jotaroBorderColor: #f0f0f0;
$jotaroButtonColor: #b246ff;
$jotaroTextColor: #ffffff;
$jotaroBackgroundColor: #34014b;

// цвета Спидвагона
$speedwagonScreenColor: #ffce0b;
$speedwagonBorderColor: #282828;
$speedwagonButtonColor: #ffcc00;
$speedwagonTextColor: #282828;
$speedwagonBackgroundColor: #e1b400;

:root {
   font-family: $fontStrong;
   color: $jotaroTextColor;
}
* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scrollbar-width: none; 
}
  html::-webkit-scrollbar {
    display: none;
}
body {
    background-color: $jotaroBackgroundColor;
    background-size: 100vw 100vh ; 
    width: 100vw;
    height: 100vh;
    min-height: 660px;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font: 800 35px $fontStrong;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: $jotaroTextColor 2px solid;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 700px;
    width: 700px;
}
/*
    ОБОЛОЧКА КАЛЬКУЛЯТОРА
*/ 
.calculator {
    position: relative;
    background-image: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/calculator-body.jpg);
    background-size: cover;
    border: 1px solid $jotaroScreenColor;
    box-shadow: 0 0 40px $jotaroScreenColor;
    width: 330px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    border-radius: 20px;
}
.calculator__keyboard {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 290px;
    height: 75%;
}
.calculator__screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    color: $jotaroTextColor;
    background-color: $jotaroScreenColor;
    border: $jotaroBorderColor solid 2px;
    border-radius: 10px;
    width: 290px;
    height: 70px;
    padding: 5px 10px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}
.calculator__button {
    background-color: $jotaroButtonColor;
    border: $jotaroBorderColor solid 2px;
    border-radius: 10px;
    color: $jotaroTextColor;
    font-size: 30px;
    min-width: 67px;
    height: 67px;
    font-family: $fontStrong;
}
#minus,#dot {
    line-height: 20px;
    font-size: 50px;
}
#equal, #plus{
    line-height: 20px;
    font-size: 40px;
}
.calculator__button:active {
    background-color: $jotaroScreenColor;
    border: $jotaroBorderColor solid 2px;
    border-radius: 10px;
    color: $jotaroBorderColor;
}

/*
            АНИМАЦИЯ
*/ 

    // СТЭНД ПРИ ВЫВОДЕ ЗНАЧЕНИЯ NaN
.wrongResult::before {
        content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/starplatinumLooksRight.png);
        position: absolute;
        bottom: -100px;
        right: -100px;
        opacity: 0%;
        z-index: -1;
        animation: falseResult 2s linear 1;
 }

   @keyframes falseResult {
       0% {
           z-index: -1;
           filter: brightness(1000%);
           bottom: -100px;
           right: -100px;
       }
       10% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           bottom: -20px;
           right: 0;
       }
       90% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           right: 50px;
           bottom: -20px;
       }
       100% {
           z-index: -1;
           filter: brightness(1000%);
           bottom: -20px;
           right: 200px;
       }
   }

   // СТЭНД ПРИ ВЫВОДЕ ЗНАЧЕНИЯ Infinity
.infinity::after {
       content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/starplatinumAngry.png);
       position: absolute;
       bottom: -50px;
       left: -50px;
       opacity: 0%;
       z-index: -1;
       animation: infinityAnswer 2s linear 1;
    }
   
   @keyframes infinityAnswer {
       0% {
           z-index: 1;
           filter: brightness(1000%);
           bottom: -100px;
       }
       10% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           bottom: -60px;
       }
       90% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           bottom: -50px;
       }
       100% {
           z-index: 1;
           filter: brightness(1000%);
           bottom: -100px;
       }
   }
//  ОКОШКО С СООБЩЕНИЕМ
.standMessageInfinity::after {
    position: absolute;
    content: "Я ТЕБЯ НА НОЛЬ ПОМНОЖУ!";
    font: 800 20px $fontStrong;
    color: $jotaroTextColor;
    width: 250px;
    height: 70px;
    border-bottom: $jotaroBorderColor 3px solid;
    background-color: $jotaroBackgroundColor;
    border-radius: 20px;
    text-align: center;
    top: -80px;
    right: 0;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
    z-index: 2;
}
// ЛИНИЯ ДИАЛОГОВОГО ОКОШКА
.standMessageInfinity::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 7px;
    transform: rotate(-35deg);
    transform-origin: right;
    background-color: $jotaroBorderColor;
    top: -25px;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
}
//  ОКОШКО С СООБЩЕНИЕМ 2
.standMessageWrong::after {
    position: absolute;
    content: "やれやれ だぜ... можно попроще что-то?";
    font: 800 20px $fontStrong;
    color: $jotaroTextColor;
    width: 250px;
    height: 70px;
    border-top: $jotaroBorderColor 3px solid;
    background-color: $jotaroBackgroundColor;
    border-radius: 20px 36px 20px 20px;
    text-align: center;
    vertical-align: middle;
    top: 50px;
    right: 0;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
    z-index: 1;
}
// ЛИНИЯ ДИАЛОГОВОГО ОКОШКА 2
.standMessageWrong::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 7px;
    transform: rotate(35deg);
    transform-origin: right;
    background-color: $jotaroBorderColor;
    top: 65px;
    right: 4px;
    z-index: 2;
    border-radius: 50%;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
}
// ОБЩАЯ АНИМАЦИЯ СООБЩЕНИЙ СТЕНДА
@keyframes standSpeak {
    0% {
        filter: brightness(1000%);
    }
    10% {
        filter: brightness(100%);
        opacity: 100%;
    }
    90% {
        filter: brightness(100%);
        opacity: 100%;
    }
    100% {
        filter: brightness(1000%);
    }
}
@media (max-width: 560px) {
    body {
        justify-content: flex-start;
        align-items: center;
    }
    .main {
        justify-content: center;
        align-content: space-between;
        min-height: 1250px;
        width: 350px;
    }
}
/*
    КАЛЬКУЛЯТОР СО СПИДВАГОНОМ
*/ 
.calculator2 {
    background-image: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/SpeedwagonCalculatorBody.jpg);
    position: relative;
    background-size: cover;
    border: 1px solid $speedwagonBackgroundColor;
    box-shadow: 0 0 40px $speedwagonBackgroundColor;
    width: 330px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    border-radius: 20px;
    .calculator__button {
        background-color: $speedwagonButtonColor;
        color: $speedwagonTextColor;
        border: $speedwagonBorderColor solid 2px;
    }
    .calculator__button:active {
        background-color: $speedwagonBackgroundColor;
        color: $speedwagonTextColor;
        border: $speedwagonBorderColor solid 2px;
    }
    .calculator__screen {
        background-color: $speedwagonScreenColor;
        color: $speedwagonTextColor;
        border: $speedwagonBorderColor solid 2px;
    }
    .wrongResult::before {
        content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/SpeedwagonLooksRight.png);
    }
    // СТЭНД ПРИ ВЫВОДЕ ЗНАЧЕНИЯ Infinity
    .infinity::after {
        content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/SpeedwagonAngry.png);
    }
    //  ОКОШКО С СООБЩЕНИЕМ
    .standMessageInfinity::after {
        content: "У ФОНДА НЕТ СТОЛЬКО ЦИФР!";
        color: $speedwagonTextColor;
        border-bottom: $speedwagonBorderColor 3px solid;
        background-color: $speedwagonBackgroundColor;
        box-shadow: $speedwagonBackgroundColor 0 0 20px;
        top: -80px;
        right: 0;
    }
    // ЛИНИЯ ДИАЛОГОВОГО ОКОШКА
    .standMessageInfinity::before {
        transform: rotate(-35deg);
        background-color: $speedwagonBorderColor;
        box-shadow: $speedwagonBackgroundColor 0 0 20px;
        top: -25px;
        right: 0;
    }
    //  ОКОШКО С СООБЩЕНИЕМ 2
    .standMessageWrong::after {
        content: "ХАМОН ЗДЕСЬ БЕССИЛЕН";
        color: $speedwagonTextColor;
        border-top: $speedwagonBorderColor 3px solid;
        background-color: $speedwagonBackgroundColor;
        box-shadow: $speedwagonBackgroundColor 0 0 20px;
    }
    // ЛИНИЯ ДИАЛОГОВОГО ОКОШКА 2
    .standMessageWrong::before {
        transform: rotate(35deg);
        background-color: $speedwagonBorderColor;
        box-shadow: $speedwagonBackgroundColor 0 0 20px;
    }
}
