@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Martel+Sans&display=swap');

$screenColor: #b859fc;
$borderColor: #f0f0f0;
$buttonColor: #b246ff;
$textColor: #ffffff;
$backgroundColor: #34014b;
$fontStrong: 'Kdam Thmor Pro', sans-serif;
$fontCommon: 'Martel Sans', sans-serif;

:root {
   font-family: $fontStrong;
   color: $textColor;
}
* {
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    scrollbar-width: none; 
    body {
        background-color: $backgroundColor;
        background-size: 100vw 100vh ; 
        width: 100vw;
        height: 100vh;
        min-height: 660px;
        min-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
  html::-webkit-scrollbar {
    display: none;
}

h1 {
    font: 800 35px $fontStrong;
    text-align: center;
    margin-bottom: 10px;
}
/*
    ОБОЛОЧКА КАЛЬКУЛЯТОРА
*/ 
.calculator {
    position: relative;
    background-image: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/calculator-body.jpg);
    background-size: cover;
    border: 1px solid $screenColor;
    box-shadow: 0 0 40px $screenColor;
    width: 330px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    border-radius: 20px;
}
.calculator__keyboard {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 290px;
    height: 75%;
}
.calculator__screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    color: $textColor;
    background-color: $screenColor;
    border: $borderColor solid 2px;
    border-radius: 10px;
    width: 290px;
    height: 70px;
    padding: 5px 10px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}

.calculator__button {
    background-color: $buttonColor;
    border: $borderColor solid 2px;
    border-radius: 10px;
    color: $textColor;
    font-size: 30px;
    min-width: 67px;
    height: 67px;
    font-family: $fontStrong;
}
#minus,#dot {
    line-height: 20px;
    font-size: 50px;
}
#equal, #plus{
    line-height: 20px;
    font-size: 40px;
}
.calculator__button:active {
    background-color: $screenColor;
    border: $borderColor solid 2px;
    border-radius: 10px;
    color: $borderColor;
}

/*
            АНИМАЦИЯ
*/ 
.wrongResult::before {
    content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/starplatinumLooksRight.png);
    position: absolute;
    bottom: -100px;
    right: -100px;
    opacity: 0%;
    z-index: -1;
    animation: falseResult 2s linear 1;
   }
   @keyframes falseResult {
       0% {
           z-index: -1;
           filter: brightness(1000%);
           bottom: -100px;
           right: -100px;
       }
       10% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           bottom: -20px;
           right: 0;
       }
       90% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           right: 50px;
           bottom: -20px;
       }
       100% {
           z-index: -1;
           filter: brightness(1000%);
           bottom: -20px;
           right: 200px;
       }
   }
   .infinity::after {
       content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/starplatinumAngry.png);
       position: absolute;
       bottom: -50px;
       opacity: 0%;
       z-index: -1;
       animation: infinityAnswer 2s linear 1;
      }
   
   @keyframes infinityAnswer {
       0% {
           z-index: 1;
           filter: brightness(1000%);
           bottom: -100px;
       }
       10% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           bottom: -60px;
       }
       90% {
           z-index: 1;
           opacity: 100%;
           filter: brightness(100%);
           bottom: -50px;
       }
       100% {
           z-index: 1;
           filter: brightness(1000%);
           bottom: -100px;
       }
   }

.standMessageInfinity::after {
    position: absolute;
    content: "Я ТЕБЯ НА НОЛЬ ПОМНОЖУ!";
    font: 800 20px $fontStrong;
    color: $textColor;
    width: 250px;
    height: 70px;
    border-bottom: $borderColor 3px solid;
    background-color: $backgroundColor;
    border-radius: 20px;
    text-align: center;
    top: -80px;
    right: 0;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
    z-index: 2;
}
.standMessageInfinity::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 7px;
    transform: rotate(-35deg);
    transform-origin: right;
    background-color: $borderColor;
    top: -25px;
    right: 0;
    z-index: 1;
    border-radius: 50%;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
}

.standMessageWrong::after {
    position: absolute;
    content: "ВОТ САМ ЭТО И РЕШАЙ... ПОКА";
    font: 800 20px $fontStrong;
    color: $textColor;
    width: 250px;
    height: 70px;
    border-top: $borderColor 3px solid;
    background-color: $backgroundColor;
    border-radius: 20px 36px 20px 20px;
    text-align: center;
    top: 50px;
    right: 0;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
    z-index: 1;
}
.standMessageWrong::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 7px;
    transform: rotate(35deg);
    transform-origin: right;
    background-color: $borderColor;
    top: 65px;
    right: 4px;
    z-index: 2;
    border-radius: 50%;
    animation: standSpeak 2s linear 1;
    opacity: 0%;
}

@keyframes standSpeak {
    0% {
        filter: brightness(1000%);
    }
    10% {
        filter: brightness(100%);
        opacity: 100%;
    }
    90% {
        filter: brightness(100%);
        opacity: 100%;
    }
    100% {
        filter: brightness(1000%);
    }
}