@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Martel+Sans&display=swap");
:root {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(5, 4, 35);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  min-height: 660px;
  min-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font: 800 35px "Kdam Thmor Pro", sans-serif;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: #ffffff 2px solid;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 700px;
  width: 700px;
}

/*
    ОБОЛОЧКА КАЛЬКУЛЯТОРА
*/
.calculator {
  position: relative;
  background-image: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/calculator-body.jpg);
  background-size: cover;
  border: 1px solid #b859fc;
  -webkit-box-shadow: 0 0 40px #b859fc;
          box-shadow: 0 0 40px #b859fc;
  width: 330px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
  border-radius: 20px;
}

.calculator__keyboard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 290px;
  height: 75%;
}

.calculator__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  color: #ffffff;
  background-color: #b859fc;
  border: #f0f0f0 solid 2px;
  border-radius: 10px;
  width: 290px;
  height: 70px;
  padding: 5px 10px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
}

.calculator__button {
  background-color: #b246ff;
  border: #f0f0f0 solid 2px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 30px;
  min-width: 67px;
  height: 67px;
  font-family: "Kdam Thmor Pro", sans-serif;
}

#minus, #dot {
  line-height: 20px;
  font-size: 50px;
}

#equal, #plus {
  line-height: 20px;
  font-size: 40px;
}

.calculator__button:active {
  background-color: #b859fc;
  border: #f0f0f0 solid 2px;
  border-radius: 10px;
  color: #f0f0f0;
}

/*
            АНИМАЦИЯ
*/
.wrongResult::before {
  content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/starplatinumLooksRight.png);
  position: absolute;
  bottom: -100px;
  right: -100px;
  opacity: 0%;
  z-index: -1;
  -webkit-animation: falseResult 2s linear 1;
          animation: falseResult 2s linear 1;
}

@-webkit-keyframes falseResult {
  0% {
    z-index: -1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -100px;
    right: -100px;
  }
  10% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    bottom: -20px;
    right: 0;
  }
  90% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    right: 50px;
    bottom: -20px;
  }
  100% {
    z-index: -1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -20px;
    right: 200px;
  }
}

@keyframes falseResult {
  0% {
    z-index: -1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -100px;
    right: -100px;
  }
  10% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    bottom: -20px;
    right: 0;
  }
  90% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    right: 50px;
    bottom: -20px;
  }
  100% {
    z-index: -1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -20px;
    right: 200px;
  }
}
.infinity::after {
  content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/starplatinumAngry.png);
  position: absolute;
  bottom: -50px;
  left: -50px;
  opacity: 0%;
  z-index: -1;
  -webkit-animation: infinityAnswer 2s linear 1;
          animation: infinityAnswer 2s linear 1;
}

@-webkit-keyframes infinityAnswer {
  0% {
    z-index: 1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -100px;
  }
  10% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    bottom: -60px;
  }
  90% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    bottom: -50px;
  }
  100% {
    z-index: 1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -100px;
  }
}

@keyframes infinityAnswer {
  0% {
    z-index: 1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -100px;
  }
  10% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    bottom: -60px;
  }
  90% {
    z-index: 1;
    opacity: 100%;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    bottom: -50px;
  }
  100% {
    z-index: 1;
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    bottom: -100px;
  }
}
.standMessageInfinity::after {
  position: absolute;
  content: "Я ТЕБЯ НА НОЛЬ ПОМНОЖУ!";
  font: 800 20px "Kdam Thmor Pro", sans-serif;
  color: #ffffff;
  width: 250px;
  height: 70px;
  border-bottom: #f0f0f0 3px solid;
  background-color: #34014b;
  border-radius: 20px;
  text-align: center;
  top: -80px;
  right: 0;
  -webkit-animation: standSpeak 2s linear 1;
          animation: standSpeak 2s linear 1;
  opacity: 0%;
  z-index: 2;
}

.standMessageInfinity::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 7px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #f0f0f0;
  top: -25px;
  right: 0;
  z-index: 1;
  border-radius: 50%;
  -webkit-animation: standSpeak 2s linear 1;
          animation: standSpeak 2s linear 1;
  opacity: 0%;
}

.standMessageWrong::after {
  position: absolute;
  content: "やれやれ だぜ... можно попроще что-то?";
  font: 800 20px "Kdam Thmor Pro", sans-serif;
  color: #ffffff;
  width: 250px;
  height: 70px;
  border-top: #f0f0f0 3px solid;
  background-color: #34014b;
  border-radius: 20px 36px 20px 20px;
  text-align: center;
  vertical-align: middle;
  top: 50px;
  right: 0;
  -webkit-animation: standSpeak 2s linear 1;
          animation: standSpeak 2s linear 1;
  opacity: 0%;
  z-index: 1;
}

.standMessageWrong::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 7px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  background-color: #f0f0f0;
  top: 65px;
  right: 4px;
  z-index: 2;
  border-radius: 50%;
  -webkit-animation: standSpeak 2s linear 1;
          animation: standSpeak 2s linear 1;
  opacity: 0%;
}

@-webkit-keyframes standSpeak {
  0% {
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
  }
  10% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    opacity: 100%;
  }
  90% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    opacity: 100%;
  }
  100% {
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
  }
}

@keyframes standSpeak {
  0% {
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
  }
  10% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    opacity: 100%;
  }
  90% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    opacity: 100%;
  }
  100% {
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
  }
}
@media (max-width: 560px) {
  body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    min-height: 1250px;
    width: 350px;
  }
}
/*
    КАЛЬКУЛЯТОР СО СПИДВАГОНОМ
*/
.calculator2 {
  background-image: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/SpeedwagonCalculatorBody.jpg);
  position: relative;
  background-size: cover;
  border: 1px solid #e1b400;
  -webkit-box-shadow: 0 0 40px #e1b400;
          box-shadow: 0 0 40px #e1b400;
  width: 330px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
  border-radius: 20px;
}
.calculator2 .calculator__button {
  background-color: #ffcc00;
  color: #282828;
  border: #282828 solid 2px;
}
.calculator2 .calculator__button:active {
  background-color: #e1b400;
  color: #282828;
  border: #282828 solid 2px;
}
.calculator2 .calculator__screen {
  background-color: #ffce0b;
  color: #282828;
  border: #282828 solid 2px;
}
.calculator2 .wrongResult::before {
  content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/SpeedwagonLooksRight.png);
}
.calculator2 .infinity::after {
  content: url(https://andreyzhigalov.github.io/JoJo-Calculator/img/SpeedwagonAngry.png);
}
.calculator2 .standMessageInfinity::after {
  content: "У ФОНДА НЕТ СТОЛЬКО ЦИФР!";
  color: #282828;
  border-bottom: #282828 3px solid;
  background-color: #e1b400;
  -webkit-box-shadow: #e1b400 0 0 20px;
          box-shadow: #e1b400 0 0 20px;
  top: -80px;
  right: 0;
}
.calculator2 .standMessageInfinity::before {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  background-color: #282828;
  -webkit-box-shadow: #e1b400 0 0 20px;
          box-shadow: #e1b400 0 0 20px;
  top: -25px;
  right: 0;
}
.calculator2 .standMessageWrong::after {
  content: "ХАМОН ЗДЕСЬ БЕССИЛЕН";
  color: #282828;
  border-top: #282828 3px solid;
  background-color: #e1b400;
  -webkit-box-shadow: #e1b400 0 0 20px;
          box-shadow: #e1b400 0 0 20px;
}
.calculator2 .standMessageWrong::before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  background-color: #282828;
  -webkit-box-shadow: #e1b400 0 0 20px;
          box-shadow: #e1b400 0 0 20px;
}